@use '../../../../styles/tokens.scss';

.button-reset {
  overflow: hidden;
  border: 0 none;
  background: none;
  border-radius: 0;
  white-space: nowrap;
  margin: 0;
}

.root {
  @extend .button-reset;
  width: 100%;

  &.isOpen {
    svg {
      transform: rotate(90deg);
    }
  }
}

.button {
  border: 0;
  background: none;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr auto;
  padding: 0.75rem 1rem;
  text-decoration: none;
  color: #000;
  font-weight: 400;
}

.label {
  text-align: left;
}

.linkGroup {
  @extend .button-reset;
  margin-left: 0.8em;
}

.linkItem {
  padding: 0;
  margin: 0;
}

.categoryLink {
  font-weight: 400;
  border-left: 2px solid var(--gray200);
  padding: 0.75rem 1rem;
  display: block;
  color: var(--gray900);
  text-decoration: none;

  &:hover {
    background-color: #efeeea;
  }

  &:active {
  }

  &.isActive {
    border-left: 2px solid var(--blue400);
  }
}
