@import "../../../../styles/tokens.scss";

:root {
  --bg-color-error: var(--red100);
  --text-color-error: var(--gray650);

  --bg-color-caution: var(--yellow100);
  --text-color-caution: var(--gray650);

  --bg-color-info: var(--blue100);
  --text-color-info: var(--gray650);

  --bg-color-success: var(--green150);
  --text-color-success: var(--gray650);

  --bg-color: var(--gray100);
  --text-color: var(--gray650);
}

.badge {
  border: none;
  align-items: center;
  display: inline;
  border-radius: var(--border-radius-base);
  justify-content: center;
  padding: var(--spacing-tight);
  font-family: var(--font-base);
  font-size: var(--fs-s);
  font-weight: var(--fw-heavier);
  background-color: var(--bg-color);
  color: var(--text-color);
  font-weight: var(--fw-heaviest);

  &--error {
    --bg-color: var(--bg-color-error);
    --text-color: var(--text-color-error);
  }
  &--caution {
    --bg-color: var(--bg-color-caution);
    --text-color: var(--text-color-caution);
  }
  &--info {
    --bg-color: var(--bg-color-info);
    --text-color: var(--text-color-info);
  }
  &--success {
    --bg-color: var(--bg-color-success);
    --text-color: var(--text-color-success);
  }
}
