:root {
  --white500: #ffffff;
  --gray50: #f6f6f6;
  --gray100: #ececec;
  --gray200: #e7e7e7;
  --gray300: #bdbdbd;
  --gray400: #a3a3a3;
  --gray500: #717171;
  --gray600: #474747;
  --gray650: #424242;
  --gray700: #373737;
  --gray800: #303030;
  --gray850: #252525;
  --gray900: #212121;
  --black500: #000000;
  --blue100: #cfedff;
  --blue400: #50c0ff;
  --blue500: #0366d6;
  --blue550: #005ec5;
  --blue600: #435a67;
  --red50: #fcf8f8;
  --red100: #f8dede;
  --red200: #fd6275;
  --red500: #e5153e;
  --red600: #a14a5c;
  --yellow100: #fff9b2;
  --yellow500: #fff200;
  --yellow700: #c07a08;
  --green50: #ecfaf6;
  --green100: #dff6f0;
  --green150: #e7fcd0;
  --green200: #b8f0e1;
  --green400: #38adb6;
  --green500: #3d7104;
}
