:root {
  --font-base: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  --fs-s: 0.88rem;
  --fs-base: 1rem;
  --fs-m: 1.125rem;
  --fs-l: 1.5rem;
  --fs-xl: 2rem;
  --fs-xxl: 4rem;
  --fw-heavy: 300;
  --fw-heavier: 400;
  --fw-heaviest: 600;
  --bp-sm: 20rem;
  --bp-med: 36rem;
  --bp-lg: 51.5rem;
  --bp-xl: 67rem;
  --bp-xxl: 82.5rem;
  --lh-loose: 1.2;
  --lh-base: 1.5;
  --spacing-none: 0;
  --spacing-tighter: 0.25rem;
  --spacing-tight: 0.5rem;
  --spacing-base: 1rem;
  --spacing-loose: 2rem;
  --spacing-looser: 3rem;
  --spacing-loosest: 4rem;
  --fade-timing-base: 0.3s;
  --fade-timing-quick: 0.15s;
  --fade-timing-long: 0.4s;
  --animation-ease-base: ease-in-out;
  --border-radius-base: 2px;
  --white500: #ffffff;
  --gray50: #f6f6f6;
  --gray100: #ececec;
  --gray200: #e7e7e7;
  --gray300: #bdbdbd;
  --gray400: #a3a3a3;
  --gray500: #717171;
  --gray600: #474747;
  --gray650: #424242;
  --gray700: #373737;
  --gray800: #303030;
  --gray850: #252525;
  --gray900: #212121;
  --black500: #000000;
  --blue100: #cfedff;
  --blue400: #50c0ff;
  --blue500: #0366d6;
  --blue550: #005ec5;
  --blue600: #435a67;
  --red50: #fcf8f8;
  --red100: #ffe4e9;
  --red200: #fd6275;
  --red500: #e5153e;
  --red600: #a14a5c;
  --yellow100: #fff9b2;
  --yellow500: #fff200;
  --yellow700: #c07a08;
  --green50: #ecfaf6;
  --green100: #dff6f0;
  --green150: #e7fcd0;
  --green200: #b8f0e1;
  --green400: #38adb6;
  --green500: #3d7104;
  --readable-max-width: 25rem;
}
